<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FinalsLabExer.Properties.Settings.ClubDBConnectionString"
            connectionString="Data Source=DESKTOP-VKHU5QN\SQLEXPRESS;Initial Catalog=ClubDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>